@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
* {
  margin: 0;
  padding: 0;
}

#normal {
  margin: 20px;
  padding: 20px;
  height: 100%;
  justify-content: center;
}

.cero {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

.container-fluid {
  margin-left: 1px;
  padding-left: 1px;
}

.inmobilogo {
  width: 170px;
}

.inmobilogo-two {
  width: 150px;
  height: 150;
  border-radius: 150px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h2,
.title {
  margin: 20px 0;
  background-color: #43397c;
  color: #fff;
  padding: 5px;
  font-size: 30px;
}

p {
  margin: 20px 0;
  font-weight: 500;
}

.about p {
  font-style: oblique;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 975px) {
  .inmobilogo {
    width: 130px;
  }
  #family h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
    text-align: center;
  }
  .list-item {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
body {
  background-color: #f5f5f5;
}

#family {
  width: 100%;
  height: 30rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
#family img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#family .banner__title {
  font-size: 2.6rem;
  color: #fafafa;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-transform: none;
}

.banner {
  display: flex;
  padding: 20px;
  align-items: baseline;
  list-style: none;
  justify-content: space-evenly;
  position: relative;
  bottom: 50%;
}

.about {
  background-color: #fff;
  padding: 20px 80px;
  border: 1px groove rgba(128, 128, 128, 0.315);
  border-radius: 8px;
  margin: 25px 50px;
  text-align: justify;
}

main {
  margin: 20px;
  padding: 20px;
  height: 100%;
}

@media (max-width: 584px) {
  .banner {
    display: flex;
    flex-direction: column;
    bottom: 70%;
    align-items: center;
  }
}
@media (max-width: 878px) {
  #family h1 {
    font-size: 24px;
  }
}
@media (max-width: 584px) {
  #family h1 {
    text-align: center;
  }
}
.navbar {
  background-color: #fcfcfc;
  border-top: 10px solid #4855a3;
}

.navbar-nav {
  align-items: center;
}

#navbarNav {
  justify-content: flex-end;
}

.nav-link {
  transition: all 0.4s ease 0s;
  font-size: 18px;
  padding: 5px;
  color: #848cc0;
  text-decoration: none;
  font-weight: 500;
}
.nav-link:hover {
  border-bottom: 2px solid #43397c;
  color: #43397c;
  transition: all;
  font-weight: bolder;
}

.nav-item {
  padding: 0 6px;
  margin: 6px;
}

a.active {
  border-bottom: 2px solid #43397c;
  color: #43397c;
  transition: all;
  font-weight: bolder;
}

.card {
  margin: 25px 10px;
  padding: 0;
}

.card-body {
  padding: 18px;
  margin: 0 10px;
}

/*Estilos sucursales*/
.box {
  display: flex;
  justify-content: center;
}

.branch {
  width: 600px;
  height: 600px;
}

.card__title {
  margin: 0;
  font-size: 18px;
}

.btn-form {
  transition: all 0.4s ease 0s;
  border: none;
  color: #fff;
  background-color: #43397c;
  padding: 10px 20px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
.btn-form.login {
  border: 1px solid #43397c;
  margin: 5px;
  color: #43397c;
  background-color: #fcfcfc;
}
.btn-form.sell {
  display: inline-block;
  align-content: center;
  text-transform: uppercase;
}
.btn-form:hover {
  background-color: #d2d5e0;
  color: #43397c;
}

form {
  margin: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #43397c;
  font-size: 20px;
}

input[type=text] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 16px;
}

textarea {
  background-color: #fcfcfc;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 16px;
}

@media (max-width: 975px) {
  label {
    text-align: center;
  }
}
footer {
  box-shadow: 2px 2px 2px 1px rgba(12, 12, 12, 0.2);
  text-align: center;
  background-color: #dcdcdc;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-weight: lighter;
  color: rgb(71, 71, 71);
}

@media (max-width: 788px) {
  footer {
    display: block;
  }
}
.social-media a {
  margin: 10px;
  padding: 5px;
}
.social-media a i {
  color: #4855a3;
  font-size: 30px;
}
.social-media i:hover {
  color: #43397c;
}

/*# sourceMappingURL=styles.css.map */
