.btn-form {
    transition: all 0.4s ease 0s;
    border: none;
    color: $color_4;
    background-color: $background-color_3;
    padding: 10px 20px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;



    &.login {
        border: 1px solid #43397c;
        margin: 5px;
        color: $color_2;
        background-color: $background-color_2;
    }

    &.sell {
        display: inline-block;
        align-content: center;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $background-color_4;
        color: $color_2;
    }
}