.card {
    margin: 25px 10px;
    padding: 0;
}

.card-body {
    padding: 18px;
    margin: 0 10px;
}

/*Estilos sucursales*/
.box {
    display: flex;
    justify-content: center;
}

.branch {
    width: 600px;
    height: 600px;
}

.card__title {
    margin: 0;
    font-size: 18px;
}