footer {
    box-shadow: 2px 2px 2px 1px rgba(12, 12, 12, 0.2);
    text-align: center;
    background-color: $background-color_5;
    color: $color_5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-weight: lighter;
        color: $color_6;
    }
}

@media (max-width:788px) {
    footer {
        display: block;
    }
}