.navbar {
	background-color: $background-color_2;
	border-top: 10px solid #4855a3;
}

.navbar-nav {
	align-items: center;
}

#navbarNav {
	justify-content: flex-end;
}

.nav-link {
	transition: all 0.4s ease 0s;
	font-size: 18px;
	padding: 5px;
	color: $color_1;
	text-decoration: none;
	font-weight: 500;

	&:hover {
		border-bottom: 2px solid #43397c;
		color: $color_2;
		transition: all;
		font-weight: bolder;
	}
}

.nav-item {
	padding: 0 6px;
	margin: 6px;
}

a.active {
	border-bottom: 2px solid #43397c;
	color: $color_2;
	transition: all;
	font-weight: bolder;
}