* {
	margin: 0;
	padding: 0;
}

#normal {
	margin: 20px;
	padding: 20px;
	height: 100%;
	justify-content: center;
}

.cero {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}

.container-fluid {
	margin-left: 1px;
	padding-left: 1px;
}

.inmobilogo {
	width: 170px;
}

.inmobilogo-two {
	width: 150px;
	height: 150;
	border-radius: 150px;
}