@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";


body {

    font-family: $font-family_1;
    font-size: 16px;

}

h1 {
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 0;
    text-transform: uppercase;
}

h2 {
    margin: 20px 0;
    background-color: $background-color_3;
    color: $color_4;
    padding: 5px;
}

p {
    margin: 20px 0;
    font-weight: 500;
}

@media (max-width:975px) {
    .inmobilogo {
        width: 130px;
    }

    #family {
        h1 {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 28px;
        text-align: center;
    }

    .list-item {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

