@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";


body {

    font-family: $font-family_1;
    font-size: 16px;

}

h2,
.title {
    margin: 20px 0;
    background-color: $background-color_3;
    color: $color_4;
    padding: 5px;
    font-size: map-get($font-sizes, xxl);

}

p {
    margin: 20px 0;
    font-weight: 500;

}

.about {
    p {
        font-style: oblique;
        font-size: map-get($font-sizes, lg);
        font-weight: 400;
    }
}


@media (max-width:975px) {
    .inmobilogo {
        width: 130px;
    }

    #family {
        h1 {
            font-size: map-get($font-sizes, xl);
        }
    }

    h2 {
        font-size: map-get($font-sizes, xl);
        text-align: center;
    }

    .list-item {
        font-size: map-get($font-sizes, m);
    }

    p {
        font-size: map-get($font-sizes, sm);
    }

    .about {
        p {
            font-size: map-get($font-sizes, sm);
            text-align: left;
        }
    }


}