//Colores
$color_1: #848cc0;
$color_2: #43397c;
$color_3: #fafafa;
$color_4: #fff;
$color_5: black;
$color_6: rgb(71, 71, 71);
$color_7: #4855a3;

//Fuente
$font-family_1: 'Roboto', sans-serif;

//Colores de fondo
$background-color_1: #f5f5f5;
$background-color_2: #fcfcfc;
$background-color_3: #43397c;
$background-color_4: #d2d5e0;
$background-color_5: #dcdcdc;
$background-color_6: #a9a5c496;